:root {
	--bc-primary: #18191a;
	--bc-secondary: #333435;
	--fc-primary: #61dafb;
	--fc-secondary: white;
}

.user-card {
	background-color: transparent;
	display: flex;
	align-items: center;
	padding: 1rem;
	border-bottom: white solid 2px;
	border-radius: 1.3rem;
	position: relative;
}

.user-details {
	background-color: transparent;
	margin: 0rem 1rem;
}

.user-image {
	border: var(--fc-primary) solid 2.5px;
	border-radius: 50%;
}

h3 {
	background-color: transparent;
}

.add-user {
	background-color: transparent;
	position: absolute;
	right: 2%;
	cursor: pointer;
}

@media screen and (max-width: 700px) {
	.user-image {
		height: 10vh;
	}

	h3,
	span {
		font-size: 3vw;
	}
	.user-details {
		margin: 0rem 0.5rem;
	}
	.add-user {
		font-size: small;
	}
}
